.content-wrapper {
    width: 75vw;
    height: calc(100vh - 155px);
    border: 2px solid black;
    -webkit-box-shadow: 4px 3px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 3px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 3px 15px 0px rgba(0,0,0,0.75);  

    .days-wrapper {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}