.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
    border: 2px solid black;
    -webkit-box-shadow: 10px 10px 17px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 17px -6px rgba(0,0,0,0.75);
box-shadow: 10px 10px 17px -6px rgba(0,0,0,0.75);

    button:hover {
        background-color: black;
        color: white;
        -webkit-box-shadow: 10px 10px 17px -6px rgba(0,0,0,0.75);
         -moz-box-shadow: 10px 10px 17px -6px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 17px -6px rgba(0,0,0,0.75);
    }

    

}



